@import '../../variables.scss';

.technologies {
}

.technologies__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technologies__title {
  margin-bottom: 15px;
  font-size: $fz-title-main;
  color: $color-section-title;
}

.technologies__img {
  max-width: 700px;
  margin-bottom: 15px;
  height: 500px;
}

.technologies__img-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.technologies__text {
  max-width: 800px;
}

.technologies__text p {
  margin-bottom: 10px;
  font-size: $fz-text;
  color: $color-section-text;
}

@media (max-width: 1024px) {
  .technologies__img {
    max-width: 600px;
    height: 500px;
  }
}

@media (max-width: 760px) {
  .technologies__img {
    max-width: 500px;
    height: 400px;
  }

  .technologies__title {
    font-size: 35px;
  }

  .technologies__text p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .technologies__title {
    font-size: 30px;
  }

  .technologies__text p {
    font-size: 15px;
  }
}
