@import '../../variables.scss';

.home {
}

.home__wrapper {
}

.home__title {
  margin-bottom: 15px;
  text-align: center;
  font-size: $fz-title-main;
  font-weight: 600;
  color: $color-section-title;
}

.home__text {
  max-width: 700px;
  margin: 0 auto;
}

.home__text p {
  margin-bottom: 5px;
  font-size: $fz-text;
  color: $color-section-text;
}

@media (max-width: 760px) {
  .home__title {
    font-size: 35px;
  }

  .home__text p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .home__title {
    font-size: 30px;
  }

  .home__text p {
    font-size: 15px;
  }
}
