@import '../../variables.scss';

.header {
  margin-bottom: 20px;
}

.header__logo {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.header__logo-logo {
  width: 100px;
  height: 100px;
}

.header__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: $color-nav-back;
}

.header__nav-link {
  margin-right: 15px;
  padding: 5px 15px;
  font-size: $fz-nav-link;
  color: $color-nav;
  border-radius: 4px;
  transition: background-color 0.2s linear;
}

.header__nav-link:last-child {
  margin-right: 0;
}

.header__nav-link:nth-child(1):hover {
  background-color: $color-nav-link-1;
}
.header__nav-link:nth-child(2):hover {
  background-color: $color-nav-link-2;
}
.header__nav-link:nth-child(3):hover {
  background-color: $color-nav-link-3;
}

@media (max-width: 600px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__nav-link {
    margin-right: 0;
  }
}
