@import '../../../variables.scss';

.club {
  width: 100%;
  max-width: 325px;
  min-height: 350px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.club__logo {
  height: 250px;
  position: relative;
  background-color: $color-club-logo-back;
}

.club__logo-logo {
  width: 200px;
  height: 170px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.club__name {
  padding: 10px 10px;
  background-color: $color-club-name-back;
  text-align: center;
}

.club__name > h4 {
  color: $color-club-name-text;
  font-size: $fz-club-name;
}

.club__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  background-color: $color-club-info-back;
}

.club__info > h3 {
  font-size: $fz-club-info;
  color: $color-club-info-text;
}

.club__info > h3 > span {
  font-size: $fz-club-info-span;
  color: $color-club-info-text;
  font-style: italic;
}

.club__website {
  margin-top: 15px;
  padding: 5px 10px;
  font-size: $fz-club-website;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-club-website-text;
  background-color: $color-club-website-back;
  transition: background-color 0.2s linear;
}

.club__website:hover {
  background-color: $color-club-website-back-hover;
}

@media (max-width: 1024px) {
  .club {
    max-width: 310px;
  }
}

@media (max-width: 994px) {
  .club {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .club {
    max-width: 310px;
  }
}
