@import '../../variables.scss';

.clubs {
}

.clubs__wrapper {
}

.clubs__title {
  margin-bottom: 15px;
  font-size: $fz-title-main;
  text-align: center;
  color: $color-section-title;
}

.clubs__block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: 760px) {
  .clubs__title {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .clubs__title {
    font-size: 30px;
  }
}
