.clubs {
}

.clubs__wrapper {
}

.clubs__title {
  margin-bottom: 15px;
  font-size: 40px;
  text-align: center;
}

.clubs__block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
