// ----- COLORS -----
$color-nav-back: #10202a;
$color-nav: #fff;
$color-nav-link-1: #e40613;
$color-nav-link-2: #00963f;
$color-nav-link-3: #01509f;

$color-section-title: #10202a;
$color-section-text: #254150;

$color-club-logo-back: #254550;
$color-club-name-back: #10202a;
$color-club-name-text: #fff;
$color-club-info-back: #254550;
$color-club-info-text: #fff;
$color-club-website-text: #10202a;
$color-club-website-back: #92daec;
$color-club-website-back-hover: #6da3b1;

// ----- FONT-SIZES -----
$fz-title-main: 40px;
$fz-text: 18px;

$fz-nav-link: 17px;

$fz-club-name: 24px;
$fz-club-info: 19px;
$fz-club-info-span: 15px;
$fz-club-website: 15px;
